.fieldset{
    background-color: black;
    border-radius: 2%;
}

.card-header{
    background-color:rgb(78, 55, 228)
}
.card{
background-color: rgb(144, 84, 234);
width: fit-content;
}

.hr{
    color: black;
}

:root {
    --bs-blue: #0d6efd;}